body {
    font-family: sans-serif;
    background-color: #161616;
    color: #fff;
}
a {
    color: #ffcf5f;
}
#wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    max-width: 900px;
    margin: auto;
}
form * {
    margin-bottom: 8px;
}

/* Header */
#header {
    grid-column: 1/3;
}
#logo {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}
.header-link {
    margin-left: 8px;
}

/* Footer */
#footer {
    grid-column: 1/3;
    justify-self: center;
}

/* Homepage */
.post {
    padding: 8px 0px;
    border-top: 1px dashed #fff;
}
.post:last-child {
    border-bottom: 1px dashed #fff;
}
.sidebar-link {
    display: block;
    margin-bottom: 6px;
}
.post-link {
    font-weight: bold;
}
#create-link {
    display: inline-block;
    margin-bottom: 6px;
}

/* Viewpage */
#comment-form {
    grid-column: 1/3;
}
#comments {
    grid-column: 1/3;
}
#comments div {
    border-top: 1px dashed white;
    padding-top: 6px;
}
#comments div:last-child {
    border-bottom: 1px dashed white;
}
.controls-link {
    margin-right: 8px;
}

/* Edit/create page */
#post-form {
    grid-column: 1/3;
    justify-self: center;
}

/* Log in page */
#auth-form {
    grid-column: 1/3;
    justify-self: center;
}
#auth-form * {
    margin-bottom: 8px;
}

/* Delete confirmation page */
#delete-form {
    grid-column: 1/3;
    justify-self: center;
}
#delete-no {
    color: #000;
    text-decoration: none;
    cursor: default;
}