/* div {
    border: 1px solid white;
} */

body {
    font: 15px Arial, sans-serif;
    color: #fff;
    background-color: #1a1a1a;
    margin: 0;
}
#main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    padding: 20px;
}
input[type=submit] {
    padding: 8px;
    min-width: 70px;
    color: #fff;
    background-color: #6e6e6e;
    border: none;
}
input[type=submit]:hover {
    background-color: #919191;
}
input[type=submit]:active {
    background-color: #6e6e6e;
}
input[type=text], input[type=password], textarea {
    padding: 4px;
}
h1 {
    margin: 0;
}
select {
    padding: 4px;
}

/* Header */
#home a {
    color: #fff;
    text-decoration: none !important;
    font-size: 32px;
    width: 90px;
}
#menu {
    justify-self: center;
    align-self: center;
}
#menu a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
#menu a:hover {
    color: #919191;
}

/* Footer */
#footer {
    grid-column: 1/3;
    justify-self: center;
}

/* Homepage */
#articles {
    grid-row: 3/5;
}
#topics {
    grid-row: 2/4;
    background-color: #5c5c5c;
}
#topics a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
#topics a:hover {
    background-color: #919191;
}
#create-link {
    font-weight: bold;
    background-color: #6e6e6e;
}
#controls {
    grid-column: 1/2;
    background-color: #5c5c5c;
}
#controls form {
    padding: 14px;
}
#controls a {
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 14px;
}
#controls a:hover {
    background-color: #919191;
}
.article-link {
    background-color: #5c5c5c;
    padding: 14px;
    margin-bottom: 6px;
}
.article-link a {
    font-weight: bold;
    color: #fff;
}
.article-link a:hover {
    color: #919191;
}

/* Viewpage */
#article {
    grid-column: 1/3;
    background-color: #5c5c5c;
    padding: 14px;
}
#article a {
    color: #fff;
}
#article a:hover {
    color: #919191;
}
#comment-post {
    grid-column: 1/3;
    background-color: #5c5c5c;
    padding: 14px;

}
#comments {
    grid-column: 1/3;
}
#comments a {
    color: #fff;
}
#comments a:hover {
    color: #919191;
}
.comment {
    background-color: #5c5c5c;
    padding: 14px;
    margin-bottom: 6px;
}

/* Edit/create page */
#content-form {
    grid-column: 1/3;
    background-color: #5c5c5c;
    padding: 14px;
    justify-self: center;
}
#content-form * {
    margin-bottom: 8px;
}

/* Log in page */
#login-form {
    grid-column: 1/3;
    background-color: #5c5c5c;
    padding: 14px;
    justify-self: center;
}
#login-form * {
    margin-bottom: 8px;
}